---
import { Image } from 'astro:assets'

import { Button, Collapse, Icon } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import ProjectSection from '@/components/projects/ProjectSection.astro'
import Sponsors from '@/components/projects/Sponsors.astro'
import Sponsorship from '@/components/projects/Sponsorship.astro'
import alipay from '@/assets/alipay-qrcode.jpg'
import KeyIcon from '@/assets/icons/key.svg'
import wechat from '@/assets/wechat-qrcode.jpg'

// 页面目录结构
const headings = [
  { depth: 2, slug: 'programs', text: 'Programs' },
  { depth: 2, slug: 'learnings', text: 'Learnings' },
  { depth: 2, slug: 'others', text: 'Others' },

]
---

<PageLayout title='Projects' {headings} view>
  <!-- GitHub 活动图表展示 -->
  <p>Github Activities:</p>
  <p>
    <img
      src='https://ghchart.rshah.org/659eb9/yexiangluna'
      alt='github activities'
      loading='lazy'
    />
  </p>
  <p>
    如果你认为合作项目会很有用或有趣，你可以或者联系我讨论一个项目。
  </p>
  


  <!-- 程序项目展示区 -->
  
  <h2 id='programs'>Programs</h2>

  <ProjectSection
    projects={[
      {
        name: '',
        description: '',
        links: [
          { type: 'github', href: '' },
          { type: 'site', href: '' },
          { type: 'doc', href: '' },
          { type: 'release', href: '' }
        ]
      },
      {
        name: '',
        description: '',
        links: [
          { type: 'github', href: '' },
          { type: 'site', href: '' },
          { type: 'doc', href: '' }
        ]
      }
    ]}
  />
  
  <!-- 旧项目列表（可折叠） -->
  <Collapse title='Some old projects'>
    <ProjectSection
      projects={[
        {
          name: '',
          description: '',
          links: [
            { type: 'github', href: '' },
            {
              type: 'release',
              href: ''
            }
          ]
        },
        {
          name: '',
          description:
            '',
          links: [{ type: 'github', href: '' }]
        }
      ]}
    />
  </Collapse>

  <!-- 学习笔记项目展示区 -->
  <h2 id='learnings'>Learnings</h2>

  <ProjectSection
    class='my-2'
    projects={[
      {
        name: '',
        description: '',
        links: [
          { type: 'github', href: '' },
          { type: 'site', href: '' }
        ]
      },
      {
        name: 'CS 213 Learning',
        description: 'Notes, code and experiences for Introduction to Computer Systems course',
        links: [
          {
            type: 'github',
            href: ''
          }
        ]
      }
    ]}
  />

  <!-- 其他项目展示区 -->
  <h2 id='others'>Others</h2>
  <ProjectSection
    projects={[
      {
        name: 'CWorld',
        description: "CWorld's Github",
        links: [{ type: 'github', href: 'https://github.com/cworld1' }]
      },
      {
        name: 'Arthals',
        description: 'Arthals Github',
        links: [{ type: 'github', href: 'https://github.com/zhuozhiyongde' }]
      }
    ]}
  />

  

  
 
</PageLayout>

